<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <nav>
      <a href="/">home</a> |
      <a href="/about">about</a>
    </nav>
    <h1>홈페이지</h1>
    <span>Total Posts : <%= posts.length %> </span>
    <ul class="post-list">
      <!-- 내림차순(큰번호 순, 최근 작성 글) -->
      <% for(let i = posts.length - 1; i >= 0; i--) { %>
      <li>
        <div>
          <p>작성일 : <%= posts[i].createdAt.toLocaleString() %></p>
          <h3>id <%= posts[i].id %> : <%= posts[i].post %></h3>
        </div>
        <form action="/delete/<%= posts[i].id %>" method="post"
          onsubmit="let result = confirm('삭제하시겠습니까?');if(!result) return false;">
          <button type="submit">삭제</button>
        </form>
      </li>
      <% } %>
    </ul>
    <!-- form - action = 폼을 전송할 서버 쪽 스크립트 파일 -->
    <!-- http - method => get or post  -->
    <form action="/create" method="post">
      <input type="text" name="post" placeholder="글을 입력해주세요">
      <button type="submit">글쓰기</button>
    </form>
  </div>
  <!--container-->
</body>

</html>